# Puerto en el que corre la aplicación
PORT=3000

# URI de conexión a MongoDB
# Formato: mongodb://[usuario:contraseña@]host:puerto/nombre-base-datos
MONGODB_URI=mongodb://localhost:27017/products-management
